//-------------------------
//-------------------FOOTER
//-------------------------
footer {
    background-color: $colorLightDark;
      font-size: 0;
      padding: 62px 0;
      padding-bottom: 80px;
    .footer{
      &__item{
        display: inline-block;
        font-size: 16px;
        width: 33.33%;
        vertical-align: top;
        position: relative;
        text-align: center;
        color: $colorWhite;
        font-size: 22px;
        @include breakpoint (toDesktop){
          display: block;
          width: 100%;
          line-height: 35px;
          &:after{
            display: none;
          }
        }
        &:nth-child(1){
          &:after{
              bottom: -42px;
          }
        }
        &:nth-child(2){
          padding: 0 20px;
          &:after{
            left: 40px;
            right: 40px;
            width: auto;
          }
        }
        &:after{
          position: absolute;
          bottom: -20px;
          left: 0;
          content: '';
          height: 3px;
          width: 100%;
          background-color: $colorWhite;
        }
        &-noLine{
          width: 50%;
          line-height: 40px;
          @include breakpoint (toDesktop){
            width: 100%;
          }
          img{
            width: 20%;
          }
          &:after{
            display: none;
          }
        }
      }
    }
}
.footer-bottom{
  margin-top: 60px;
  margin-left: 33.33%;
  @include breakpoint (toDesktop){
    width: 100%;
    display: block;
    margin: 0;
  }
}
